img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-style: oblique;
    margin-top: -20px;
}

article {
    background-color: red;
    margin: 5px;
    border-radius: 10px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#articles {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#featured {
    grid-column: 1 / -1;
    width: 50vw;
}