img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-style: oblique;
    margin-top: -20px;
}

article {
    background-color: red;
    margin: 5px;
    border-radius: 10px;
}